.Carousel {
   padding: 3rem 1rem;
   position: relative;
   &.SeasonsCarousel {
      padding: 0 !important;
      display: flex !important;
      align-items: flex-start !important;
      justify-content: flex-start !important;
   }
   &.EpisodesCarousel {
      padding: 1rem !important;
   }
   &.ReviewCarousel {
      padding: 2rem 1rem 1rem 1rem !important;
   }

   &.ImagesCarousel {
      padding: 1rem 1rem 1rem 1rem !important;
   }
   .Title {
      font-size: 1.6rem;
      color: white;
      position: absolute;
      top: 0;
   }
}

@media only screen and (max-width: 1000px) {
}
