.Loading {
   position: absolute;
   background-color: rgb(37, 36, 36);
   color: white;
   width: 100%;
   height: 100%;
   z-index: 4;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 10px;
   transform: scale(1.01);

   .Spinner {
      margin: auto;
      border-radius: 50%;
      border: 5px solid transparent;
      border-top-color: white;
      border-bottom-color: white;
      width: 30px;
      height: 30px;
      animation: rotate 2s infinite;
      @keyframes rotate {
         from {
            transform: rotate(0deg);
         }
         to {
            transform: rotate(359deg);
         }
      }
   }
   .Top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      gap: 5rem;
      div {
         width: 100px;
         border-radius: 10px;
         height: 30px;
         background-color: rgba(0, 0, 0, 0.2);
      }
   }
   .Bottom {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      height: 30%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
      gap: 1rem;

      div {
         background-color: rgba(0, 0, 0, 0.2);
         height: 30px;
         border-radius: 10px;
         width: 30%;
         &:last-of-type {
            width: 90%;
         }
      }
   }
}
