.Slide {
   position: relative;
   min-height: 300px;
   transition: 0.2s;
   margin-right: 1.5rem;
   border: solid 1px rgba(255, 255, 255, 0.2);
   img {
      object-fit: fill;
      z-index: -1;
   }
   .SlideTitle {
      width: 100%;
      height: 100%;
      bottom: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: #fff !important;
      opacity: 1;
      //fix transparent line around slide
      transform: scale(1.03);
      background: linear-gradient(
         180deg,
         rgba(255, 255, 255, 0) 20%,
         rgba(0, 0, 0, 0.98) 90%
      ) !important;
      text-align: center;

      .Name {
         width: 100%;
         min-height: 20%;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 1rem;
         color: white;
         border-bottom-right-radius: 10px;
         border-bottom-left-radius: 10px;
      }
      .Release_date {
         padding: 0.5rem;
         position: absolute;
         right: 0.5rem;
         background-color: rgba(0, 0, 0, 0.678);
         font-size: 0.8rem;
         color: white;
         border-radius: 10px;
         top: 0.5rem;
         display: flex;
         align-items: center;
         gap: 0.5rem;
         width: max-content;
         white-space: nowrap;
         transition: 0.5s 0.2s;

         svg {
            margin-bottom: 0.2rem;
            min-height: 20px;
            min-width: 20px;
            max-width: 20px;
            max-height: 20px;
         }
      }
      .Vote {
         padding: 0.5rem;
         position: absolute;
         font-size: 0.8rem;
         background-color: rgba(0, 0, 0, 0.678);
         border-radius: 10px;
         color: white;
         left: 0.5rem;
         top: 0.5rem;
         display: flex;
         align-items: center;
         gap: 0.3rem;
         width: max-content;
         white-space: nowrap;
         svg {
            margin-bottom: 0.4rem;
            min-height: 15px;
            color: gold;
            min-width: 15px;
            max-width: 15px;
            max-height: 15px;
         }
      }
      .Overview,
      .Divider {
         display: none;
      }
      &.Credits {
         border: none !important;
         .KnownFor {
            opacity: 0.7;
            font-size: 0.8rem;
         }
         .Name {
            min-height: 10%;
         }
         .CharacterName {
            opacity: 0.7;
            font-size: 0.8rem;
         }
      }
      &.Episode {
         background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 20%,
            rgba(0, 0, 0, 0.67) 90%
         ) !important;
         padding-bottom: 1rem;
         transform: scale(1);
      }
      &.Review {
         position: relative;
         max-height: 300px;
         background: transparent !important;
         overflow-y: auto;
         border: none !important;
         padding: 1rem 0;
         .ImgContianer {
            position: absolute;
            left: 2rem;
            top: 0rem;
            z-index: 2;
         }
         img {
            border-radius: 50%;
            padding: 1rem;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background-color: white;
            z-index: 3;
         }
         .createdAt {
            position: absolute;
            right: 1rem;
            top: 1.2rem;
            padding: 0 1rem;
            font-size: 0.7rem;
         }
         .Content {
            font-size: 0.9rem;
            height: 100%;
            padding: 3rem 2rem 0 2rem;
            line-height: 30px;
            overflow-y: auto;
            text-align: justify;
         }
         .Name {
            border-radius: 0;
            width: max-content;
            padding: 0.5rem 1rem;
            font-size: 0.9rem;
            position: absolute;
            min-height: 10px;
            left: 5rem;
            top: 0.5rem;
            background-color: black;
         }
      }
   }
}
@media only screen and (max-width: 1000px) {
   .Slide {
      transition: 0.2s ease-in-out;

      &.Big {
         .SlideTitle {
            .Overview,
            .Divider {
               display: none !important;
            }
         }
      }
   }
}
