.HomeSwiper {
   min-height: 95vh;
   padding: 9rem 3rem 8rem 3rem !important;
   transition: 0.5s;

   .BigSlide {
      border-radius: 10px;
      height: 60vh !important;
      border: solid 1px rgba(255, 255, 255, 0.2);
      transition: 0.2s;
      img {
         object-fit: fill;
         z-index: -1;
         border-radius: 10px;
      }
      .SlideTitle {
         width: 100%;
         height: 100%;
         bottom: 0;
         position: absolute;
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
         color: #fff !important;
         opacity: 1;
         border-radius: 10px;
         //fix transparent line around slide
         background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 20%,
            rgba(0, 0, 0, 0.98) 90%
         ) !important;
         text-align: center;

         .Name {
            width: 100%;
            min-height: 20%;
            opacity: 0;
            display: flex;
            justify-content: center;
            text-align: justify;
            flex-direction: column;
            padding: 0.5rem;
            font-size: 1rem;
            color: white;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            .divider {
               border-bottom: 1px solid rgba(255, 255, 255, 0.2);
               width: 100%;
            }
            .overview {
               font-size: 0.7rem;
               text-align: justify;
               padding: 0.5rem 0 0 0;
               display: -webkit-box;
               -webkit-line-clamp: 4;
               line-height: 15px;
               -webkit-box-orient: vertical;
               overflow: hidden;
            }
         }
      }
   }
   .swiper-slide-active {
      z-index: 1;
      .BigSlide {
         transform: scale(1.4);
         .SlideTitle {
            .Name {
               opacity: 1;
            }
         }
      }
   }
   .swiper-slide-next {
      z-index: 0;
   }
   .swiper-pagination {
      bottom: 1rem !important;
      .swiper-pagination-bullet {
         background: #fff !important;
         &.swiper-pagination-bullet-active {
            transform: scale(1.4) !important;
            transition: 0.2s;
         }
      }
   }
}
.Switch {
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   display: flex;
   width: 100%;

   button {
      padding: 0.5rem 0.7rem 0.3rem 0.7rem;
      background-color: transparent;
      color: #fff;
      border-radius: 10px;
      border: 1px solid rgb(233, 57, 57);
      transition: 0.2s;
      font-size: 0.6rem;
      max-height: 70px;
      min-width: 60px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      flex-direction: column;
      min-height: 50px;

      &.active {
         background-color: rgb(233, 57, 57);
         border-color: transparent;

         white-space: nowrap;
         z-index: 2;
         transform: scale(1.2);
         &:hover {
            background-color: rgb(163, 4, 4);
         }
      }
      &:hover {
         background-color: rgba(233, 57, 57, 0.76);
      }
   }
}

@media only screen and (max-width: 1000px) {
   .HomeSwiper {
      .BigSlide {
         height: 50vh !important;
      }
      .swiper-slide-active {
         width: 80% !important;
         margin-left: -4rem;
      }
   }
}
